<% IF times.size %>
    <table width="100%" class="sortable">
      <tr>
        <th class="listheading" width="10%">Case</th>
        <th class="listheading" width="10%">Title</th>
        <th class="listheading" width="10%">Responsibility</th>
        <th class="listheading" width="10%">Date</th>
        <th class="listheading" width="10%">Duration</th>
        <th class="listheading" width="10%">Billable</th>
        <th class="listheading" width="10%">Work Category</th>
        <th class="listheading" width="10%">Billing Category</th>
        <th class="listheading" width="10%">Activity</th>
        <th class="listheading" width="10%">Status</th>
      </tr>
      <% FOREACH activity IN times.keys.nsort %>
        <% IF loop.count % 2 == 0 %>
        <tr class="altbg">
        <% ELSE %>
        <tr>
        <% END %>
        <td class="listing" style="text-align: right;"><a href="/case/<% times.$activity.id %>"><% times.$activity.id %></a></td>
        <td class="listing"><% times.$activity.title %></td>
        <td class="listing"><% responsibility_lookup(times.$activity.responsibility) %></td>
        <td class="listing"><% times.$activity.actdate %></td>
        <td class="listing"><% times.$activity.duration %></td>
        <td class="listing"><% times.$activity.billable %></td>
        <td class="listing"><% times.$activity.problem_type %></td>
        <td class="listing"><% times.$activity.billingcatdesc %></td>
        <td class="listing"><% times.$activity.activity %></td>
        <td class="listing"><% times.$activity.statusdesc %></td>

        <% IF loop.count == times.$activity.details.size %>
        <% IF loop.count % 2 == 1 %>
        <tr class="altbg">
        <% ELSE %>
        <tr class="total">
        <% END %>
          <td class="listing"></td>
          <td class="listing"></td>
          <td class="listing" style="font-weight: bold; text-align: right">Total</td>
          <td class="listing" style="font-weight: bold;"><% times.$activity.normal %></td>
          <td class="listing" style="font-weight: bold;"><% times.$activity.billable %></td>
          <td class="listing"></td>
          <td class="listing"></td>
        </tr>
      <% END %>
    <% END %>
      </table>
      <br />
<% ELSE %>
No matching activities.
<% END %>
