<form action="/list" method="GET" class="dontprint">
  <fieldset>
    <legend>Search</legend>
    <table>
      <tr>
        <td style="text-align: right;"><label>Title:</label></td>
        <td>
          <input name="s-title" type="text" value="<% pftitle %>" />
        </td>
        <td style="text-align: right;"><label>SR#:</label></td>
        <td>
          <input name="s-srno" type="text" />
        </td>
      </tr>
      <tr>
        <td style="text-align: right;"><label>Customer:</label></td>
        <td><select name="s-customer"  style="width: 14em;">
          <option value="ALL">All</option>
          <option value="New Customer">New Customer</option>
          <% FOREACH user IN users.keys.sort %>
          <% IF users.$user.id == pfcustomer %>
          <option value="<% users.$user.id %>" selected="selected"><% users.$user.name %></option>
          <% ELSE %>
          <option value="<% users.$user.id %>"><% users.$user.name %></option>
        <% END %>
        <% END %>
      </select>
    </td>
    <td style="text-align: right;"><label>Status:</label></td>
    <td>
      <select name="s-status"  style="width: 14em;">
        <option value="ALL">All</option>
        <% FOREACH status IN statuses.keys.nsort %>
        <% IF statuses.$status.value_key == pfstatus %>
        <option value="<% statuses.$status.value_key %>" selected="selected"><% statuses.$status.value_caption %></option>
        <% ELSE %>
        <option value="<% statuses.$status.value_key %>"><% statuses.$status.value_caption %></option>
        <% END %>
        <% END %>
      </select>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"><label>Responsibility:</label></td>
    <td><select name="s-tech"  style="width: 14em;">
      <option value="ALL">All</option>
      <option value="none">Unassigned</option>
      <% FOREACH admin IN admins.keys.sort %>
      <% IF admins.$admin.user_name == thisuser %>
      <option value="<% admins.$admin.user_name %>" selected="selected"><% admins.$admin.full_name %></option>
      <% ELSE %>
      <option value="<% admins.$admin.user_name %>"><% admins.$admin.full_name %></option>
      <% END %>
      <% END %>
    </select></td>
    <td style="text-align: right;"><label>Category:</label></td>
    <td><select name="s-category" style="width: 14em;">
      <option value="ALL">All</option>
      <% FOREACH cat IN categories %>
      <% IF cat.0 == pfcategory %>
      <option value="<% cat.0 %>" selected="selected"><% cat.0 %></option>
      <% ELSE %>
      <option value="<% cat.0 %>">
      <% cat.0 %>
    </option>
    <% END %>
    <% END %>
  </select></td>
</tr>
<tr>
  <td></td>
  <td style="margin-right: 1em">
    <input name="s-submit" type="submit" value="Search" />
  </td>
  <td style="width:10em;">
    <span style="float: right;">Total Jobs:</span>
  </td>
  <td><span style="font-weight: bold"><% count %><br /></span></td>
</tr>
</table>
<% END %>
</fieldset>
</form>
