<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>QuickAid</title>
    <link rel="stylesheet" href="/css/style.css" />
    <% IF mobile %><link rel="stylesheet" media="screen" href="/css/mobile.css" />
    <% END %><link rel="shortcut icon" href="/favicon.ico" />
    <% IF session.embedded %>
    <style>
    body {
      background-color: #fff;
    <% IF session.mobile %>
      font-size: 100%;
    <% END %>
    }
    </style><% END %><% IF request.user_agent.search('MSIE') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css" />
    <% END %></head>
  <body style="background-color: #444;">
    <!--<% IF settings.dev_instance %>
    <div id="dev_instance">
      This is a Development Instance.  Database changes will NOT be preserved.
    </div>
    <% END %>-->
    <div id="content" style="background-color: #444;">
    <% content %>
    </div>
  </body>
</html>
