#login logo {
    position: relative;
    float: left;
    width: 40%
}

#login #auth {
    position: relative;
    float: right;
    width: 40%
    text-align: right;
}

body {
    min-width: 200;
}

.listheading, th {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.listing {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.normal {
    background-color: #ccffab;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.high {
    background-color: #ffeeab;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.vhigh {
    background-color: #ffcc99;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.urgent {
    background-color: #faaa88;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

#details {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0.2em;
}

#nav #right {
    position: relative;
    float: right;
    width: 40%;
    }

#nav #left {
    position: relative;
    float: left;
    width: 40%;
    }

#nav img {
    margin-top: 1.2em;
    padding-right: 0.8em;
    padding-left: 0.2em;
}

#nav #links {
    padding-top: 1.6em;
}

#nav #links {
    padding-top: 1.6em;
}

input,select {
    font-size: 100%;
    -moz-box-sizing: border-box;
    height: 1.8em;
}

#nav input {
    height: 1.4em;
}

#login input {
    font-size: 100%;
}

.rmtime {
    text-align: center;
    margin: auto;
}

.scale {
    padding-left: 2px;
    padding-right: 2px;
    width: 30px;
    height: auto;
}
