div {
    visibility: hidden;
    display: none;
}

div#content {
    visibility: visible;
    display: inline;
}

body {
    font-size: 70%;
}

.title {
    font-size: 150%
}


td, th {
    text-align: center;
}

table {
    padding-bottom: 1em;
    border-bottom: 2px solid black;
}

.date {
    font-weight: bold;
}

th, td {
    text-align: left;
    vertical-align: top;
}

td {
    padding-right: 1em;
}

.printonly {
    visibility: visible;
}

.dontprint {
    visibility: hidden;
    height: 1px;
}

label {
    font-weight: bold;
}
