body {
margin: 0;
padding: 0;
background-color: #fefefe;
background-repeat: no-repeat;
background-position: top left;
margin: auto;
font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 90%;
color: #333;
min-width: 500px;
}

h1 {
color: #000;
}

#page {
background-color: #fefefe;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: #fefefe;
padding: 1em;
color: #444;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 0.4em 0 0.8em 0;
}

#footer {
position: relative;
clear: both;
padding-top: 0.8em;
font-family: sans-serif;
font-size: 80%;
color: #ababab;
padding-right: 1em;
}

#footer #copyright {
float: right;
padding-bottom: 0.4em;
}

#footer #version {
float: left;
padding-left: 1em;
padding-bottom: 0.4em;
}

#nav a {
    color: #eee;
    text-decoration: none;
    text-shadow: 1px 1px 1px #214294;
}

#nav a:hover {
    color: white;
    text-shadow: 2px 2px 1px #214294;
}

#content a {
    color: #2e4faa;
    text-decoration: none;
}

#content a:hover {
    color: #4488fc;
}

#nav {
    text-align: left;
    background-color: #4488fc;
    height: 4.8em;
    margin-bottom: 0.2em;
    color: #eee;
    font-size: 120%
}

#login {
    padding-top: 50px;
    background-color: #4488fc;
    color: #eee;
    margin: auto;
    width: 600px;
    height: 220px;
    -moz-border-radius: 2em 12em 2em 12em;
    border-radius: 2em 12em 2em 12em;
    border: #eee solid 2px;
}

#login #logo {
    padding-left: 4.4em;
    float: left;
}

#login #auth {
    float: right;
    padding-right: 6em;
    font-size: 110%;
}

#auth label {
    text-shadow: 1px 1px 1px #214294;
}

#auth input {
    font-size: 110%;
}

#nav img {
    margin-top: 1.1em;
    padding-right: 0.8em;
    padding-left: 0.2em;
}

#nav #links {
    padding-top: 1.8em;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
    height: 3em;
    text-align: top;
}

#nav #right {
    position: relative;
    float: right;
    width: 30%;
}

#nav #left {
    position: relative;
    float: left;
    width: 55%;
}

#nav #links label {
    margin: 0;
    padding-right: 0;
}

#nav #links ul li {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: top;
}

#nav #links ul li {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: top;
}

#nav #links ul li a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: top;
}

.logo {
    float: left;
    margin-left: 5px
}

#nav #search form {
    margin: 0;
    padding: 0;
}

#nav #search form input {
    margin: 0;
    padding: 0;
}

.listing {
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.32em;
}

table .altbg {
    background-color: #f1f1f1;
}

table .errrow {
    background-color: #c9c;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.32em;
}

.heading {
 font-size: 140%;
 padding-top: 1em;
 padding-bottom: 0.2em;
}

.smallheading {
 font-size: 120%;
 padding-top: 0.7em;
 padding-bottom: 0.12em;
}

th.listheading {
    background-color: #888;
    color: #fafafa;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#content table {
    width: 100%;
}

#content .case {
    margin-top: 0.5em;
    color: #00ae18;
    font-weight: bold;
}

#content label {
    font-size: 110%;
    padding-right: 0.4em;
}

.rmtime a img {
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.rmtime {
    text-align: center;
    vertical-align: middle;
}

.flash {
    margin-top: 0.3em;
    color: #2e4fbb;
    font-size: 120%;
    padding-bottom: 1em;
}

#details {
    position: relative;
    float: left;
    width: 80%;
    clear: both;
    margin-bottom: 0.2em;
}

#merge {
    float: left;
    width: 20%;
}

#times, #activity, #checklist {
position: relative;
display: block;
    clear: both;
}

#checklist {
  margin-bottom: 0.2em;
}

.printonly {
    visibility: hidden;
    height: 1px;
    position: relative;
    float: right;
}

.dontprint {
    visibility: visible;
}

.low {
    background-color: #cceeff;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

textarea {
    font-size: 100%;
}

.normal {
    background-color: #ccffab;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

.high {
    background-color: #ffeeab;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.8em;
}

.vhigh {
    background-color: #ffcc99;
    vertical-align: middle;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 1em;
}

.urgent {
    background-color: #faaa88;
    padding-left: 0.8em;
    padding-right: 0.8em;
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1.2em;
}

.orgmanaged {
    background-color: #eaddff;
}

.low {
    color: #222;
}

.low a {
    color: #191;
}

.version {
    position: relative;
    color: #2e4fbb;
    font-size: 70%;
    font-weight: bold;
    top: -5px;
    }

#dev_instance {
   height: 2em;
   padding-top: 0.6em;
   width: 100%;
   background-color: #ffffdd;
   color: #ff0000;
   font-weight: bold;
   font-size: 150%;
   text-align: center;
}

fieldset {
  border: #ddd solid 1px;
}

.reference {
  background-color: #9955ff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  -moz-border-radius: 0.2em 1.2em 0.2em 1.2em;
  border-radius: 0.2em 1.2em 0.2em 1.2em;
}
